.publicPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 32px;

  .logoContainer {
    position: relative;
    height: 200px;
    width: 200px;
    margin-bottom: 50px;
  }

  .formContainer {
    width: 100%;
  }

  .formBottomInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 24px;

    p {
      margin: 0;
    }

    a {
      text-decoration: $primary02;
    }
  }

  .btn {
    margin-top: 12px;
    padding: 12px;
  }
}
