@import './variables.scss';

@import '../public/fonts/fonts.scss';

@import '../components/primary-button/primary-button.scss';
@import '../components/avatar/avatar.scss';
@import '../components/image-upload/image-upload.scss';
@import '../components/login/login.scss';
@import '../components/public-input/public-input.scss';

* {
  font-family: $fontRegular;
  font-size: 14px;
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
}
